<div class="col-md-6 col-md-offset-1">
  <h2>Welcome to Task Manager</h2><br>

  <div class="btn-group-vertical col-md-3 col-md-offset-2" role="group" aria-label="...">
    <a class="btn btn-primary" href="/tasks" role="button">Task Index</a></li>
    <a class="btn btn-primary" href="/tasks/new" role="button">New Task</a></li>
  </div>
</div>
