<div class="row well">
  <h3 class="col-md-offset-1 col-md-6"><%= @task.title %></h3>

  <a class="btn btn-primary col-md-1" href="/tasks/<%=@task.id%>/edit" role="button">Edit Task</a>

  <form class="col-md-1" action="/tasks/<%=@task.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" type="submit">Remove Task</button>
  </form>
</div>

<p class="col-md-offset-1 col-md-6"><%= @task.description %></p>
